<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wmp.office.mapper.TestMapper">

    <select id="selectTableCount">
        SELECT COUNT(*) AS table_count
        FROM information_schema.tables
        WHERE table_schema = 'wmp_office';
    </select>

</mapper>